@media (max-width: 1240px) {
  .work-1-text-1{
    span{
      display: inline-block;
    }
  }
  .work-1-img-1 {
    img{
      width: 400px !important;
      height: 300px !important;;
      object-fit: contain;
  
    }
    
    top:0 !important;
    left:0!important;
  }
  
  .work-1-img-2 {
    img{
      width: 300px!important;
      height: 500px!important;
      object-fit: contain;
    }
     top: 35%!important;
    right: 20px!important;
  }
  
  .work-1-img-3 {
    img{
     width: 350px;
    height: 200px;
    object-fit: contain;
    }
   
    bottom: 20px!important;
    left: 0!important;
  }
  
  .work-1-img-4 {
    img{
    object-fit: contain;
    width: 200px!important;
    height: 300px!important;
    }
  
    top:0!important;
    right: 0!important;
  }

  // work2
  
  .work-2-text-1{
    span{
      display: inline-block;
    }
  }
  .work-2-img-1 {
    img {
      width: 400px !important;
      height: auto !important;
      object-fit: contain;
      border-radius: 10px;
    }

    top: 10px !important;
    left:10px !important;
  }

  .work-2-img-2 {
    img {
      width: 400px !important;
      height: 400px !important;
      object-fit: contain;
      border-radius: 20px;
    }

    top: 38% !important;
    left: 7% !important;
  }

  .work-2-img-3 {
    img {
      width: 300px !important;
      height:300px !important;
      object-fit: contain;
      border-radius: 10px;
    }
    top: 15% !important;
    right: 0 !important;
  }
  
  //work 3

  .work-3-text-1{
    span{
      display: inline-block;
    }
  }
  .work-3-img-1 {
    img {
      width: 400px;
      height: 400px;
      object-fit: contain;
      border-radius: 10px;
    }

    top: 10%;
    left:15% !important;
  }
  .work-3-img-2 {
    img {
      width: 130px;
      height: 130px;
      object-fit: contain;
      border-radius: 10px;
    
    }

    top: 5%;
    left:70%;
  }
  .work-3-img-3 {
    img {
      width: 130px;
      height: 130px;
      object-fit: contain;
      border-radius: 10px;
    }

    bottom: 10%;
    left:70%;
  }

  
  }
  